@font-face {
    font-family: 'VintageRumble'; 
    src: url('../images/Vintage Rumble.otf'); 
}

@font-face {
    font-family: 'RockinSoda'; 
    src: url('../images/Rockinsoda.ttf'); 
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.BigFont {
    font-family: 'VintageRumble';
    font-size: 10vw;
}

.SmallFont {
    font-family: 'RockinSoda';
    font-size: 2.5vw;
    margin-left: 20%;
    margin-right: 20%;
}

.CardQ {
    font-family: 'RockinSoda';
    font-size: 3vw;
}

.CardA {
    font-family: 'RockinSoda';
    font-size: 1.5vw;
}

img {
    height: auto;
    max-width: 100%;
}
