
.user__avatar {
    height: 200px !important;
    width: 30vh !important;
    object-fit: contain !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user__info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    height: 140px;
}

.user__signin {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 3vw !important;
    color: #DC143C !important;
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.user__tick {
    color: blue !important;
}